<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Trantor Employee`" %>">
  <title>TrantorEmployees</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body  class="<%= controller_name %> <%= action_name %>">
<div class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <ul class='nav pull-left'>
        <li>
          <%=link_to 'TrEmp', home_index_path%>
        </li>
      </ul>
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</div>
<div id="main" role="main">
  <div class="container">
    <%= render "layouts/flash_messages" %>
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div> <!--! end of .container -->
</div> <!--! end of #main -->
</body>
</html>
